/* Digital */
@font-face {
    font-family: Digital;
    src: url(/resources/fonts/Digital7Mono-Yz9J4.ttf);
}
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --digital: "Digital", sans-serif;
    --montserrat: "Montserrat", sans-serif;

    --white: #FFF;
    --grey: #888484;
    --black: #000;
    --red: #B5130D;
    --blue: #063F8E;
    --purple: #9E6DF7;
    --light: #F0F0F0;
}


body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    overflow: hidden;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.screen {
    width: 100%;
    height: 50%;
    border-bottom: 0.2px solid var(--grey);
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    padding: 10px 0;
}

.screen h1 {
    font-family: var(--montserrat);
}

.screen .input {
    font-weight: 600;
    font-size: 48px;
} 

.screen .result {
    font-weight: 300;
    font-size: 24px;
    color: var(--grey);
} 


.buttons {
    width: 100%;
    height: 50%;
    padding: 10px 0;
}

.numset {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

button {
    font-size: 24px;
    color: var(--black);
    padding: 15px;
    min-width: 65px;
    min-height: 65px;
    background-color: var(--white);
    border-color: transparent;
}

button:active {
    background-color: var(--light);
    border-radius: 50%;
}

.numset .op {
    color: var(--purple);
}

.numset .equal {
    width: 65px;
    height: 65px;
    padding: 15px;
    background-color: var(--purple);
    border-radius: 50%;
    color: var(--white);
}



