/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --montserrat: "Montserrat", sans-serif;

    --primary-color: #9E6DF7;
    --secondary-color: #888484;
    --tertiary-color: #F0F0F0;
    --font-color: #171717;
    --bg-color: #fff;
    --dark-black: #171717;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #888484;
    --tertiary-color: rgb(44, 43, 43);
    --font-color: #FFF;
    --bg-color: #171717;
}


body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    overflow: hidden;
}

.main-container {
    width: 100%;
    height: 100%;
    max-height: 700px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen {
    width: 100%;
    height: 50%;
    border-bottom: 0.2px solid var(--secondary-color);
    padding:0 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: right;
    justify-content: space-between;
}

.switch-div {
    display: flex;
    justify-content: right;
    gap: 15px;
    font-family: var(--montserrat);
}

.switch-div p {
    color: var(--font-color);
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 2em;
    height: 1em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: var(--primary-color);
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
    position: absolute;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1em;
    width: 1em;
    inset: 0;
    background-color: var(--bg-color);
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch-div a {
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
}

.text input::placeholder {
    color: var(--font-color);
}

.switch input:checked + .slider {
    background: var(--secondary-color);
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px var(--dark-black);
}

.switch input:checked + .slider:before {
transform: translateX(1em);
}


.text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
}

.text h1 {
    font-family: var(--montserrat);
}

.screen .input {
    font-weight: 600;
    font-size: 48px;
    /* font-size: clamp(48px, 10vw, 24px); */
    background-color: var(--bg-color);
    color: var(--font-color);
    border: none;
} 

.screen .result {
    font-weight: 300;
    font-size: 24px;
    color: var(--secondary-color);
} 


.buttons {
    width: 100%;
    height: 50%;
    padding: 10px 0;
}

.numset {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

button,
input {
    font-size: 24px;
    color: var(--font-color);
    padding: 15px;
    min-width: 65px;
    min-height: 65px;
    background-color: var(--bg-color);
    border-color: transparent;
    font-family: var(--montserrat);
}


button:active,
input[type=button]:active {
    background-color: var(--tertiary-color);
    border-radius: 50%;
}

input[type=text] {
    text-align: right;
    padding: 0;
    width: 100%;
    border: transparent;
}


.bp-icon {
    font-size: 28px;
}

.numset .op {
    color: var(--primary-color);
    font-weight: 500;
}

.numset .equal {
    width: 65px;
    height: 65px;
    padding: 15px;
    background-color: var(--primary-color);
    border-radius: 50%;
    scale: 0.9;
    color: var(--bg-color);
}

.equal:active {
    scale: 0.8;
    transition: all 0.3s;
}

@media (min-width: 475px) {
    .main-container {
        border: 2px solid var(--primary-color);
        border-radius: 25px;
    }
    .wrapper {
        scale: 0.95;
    }
}

@media (min-width: 640px) {
    .wrapper {
        scale: 0.95;
    }
}
@media (min-width: 1024px) {
    body {
        padding: 1rem;
    }
    .wrapper {
        scale: 0.8;
    }
    .main-container {
        padding: 0;
    }
}